
.main-visual{
    background-image: url("g.jpg");
    background-size: cover;
    padding: 170px 100px 80px;
    height: 100vh;

}
.top-title{
　　margin: 50px;
    font-size: 4.5rem;
}
.top-subtitele{
    margin: 0 0 30px;
    letter-spacing: 1px;
    font-size: 1.2rem;
}


.about {
  height: 100vh;
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}

.about-text {
    width: 600px;
    margin: 30px auto;
    line-height: 2.5;
    text-align: left;
}

.heading {
    font-size: 4rem;
    width: 600px;
    margin: 30px auto;
    line-height: 2.5;
    text-align: left;
    
    
}

