<!DOCTYPE html>
<!--------------------------------------------------------------------------------------->
<html>
<head>
  <meta charset="UTF-8">
  <title>
  </title>
<!--■
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
-->
  <link rel="stylesheet" href="style.css">  
  <link rel="stylesheet" href="normalize.css">
</head>
<!------------------body start----------------------------------------------------------->
<body>

<!--------header start---------------------------------------------------------->
  <header class="header">
    <div class="container">
      <div class ="header-left">
       <a href ="https://2e76acaa59a048ab95aff58d99fa3204.vfs.cloud9.us-east-2.amazonaws.com/?_c9_id=livepreview0&_c9_host=https://us-east-2.console.aws.amazon.com">TOYAKU ENGLISH</a>
      </div>
      <div class ="header-right">
        <a href ="https://2e76acaa59a048ab95aff58d99fa3204.vfs.cloud9.us-east-2.amazonaws.com/?_c9_id=livepreview0&_c9_host=https://us-east-2.console.aws.amazon.com">top</a>
        <a href ="https://2e76acaa59a048ab95aff58d99fa3204.vfs.cloud9.us-east-2.amazonaws.com/_static/HTML/about%20us.html">About us</a>
        <a href ="https://2e76acaa59a048ab95aff58d99fa3204.vfs.cloud9.us-east-2.amazonaws.com/_static/HTML/contact.html">Contact</a>
        <a href ="">Member registration</a>
        <a href ="">Administrator login</a>
      </div>
    </div>
    <div class ="clear"></div> 
    
   </header>
<!--------header end------------------------------------------------------------>
<!--------section menu start --------------------------------------------------->
 <section class="about">
        <h2 class="heading">About us</h2>
        <p class="about-text">
    
        </p>
        
      </div>
    </div>
 

  <section class="menu" id="menu">
<!-------container start ------------------------>
<!-------wrapper start ---------------->
      <div class ="menu-card-wrapper">
<!-------menue start --------->
        <div class ="menu-card">
          <div class ="menu-card-inner">
            <img class ="menu-image" src="a.jpg" alt="英会話トレーニング">
            <h3 class ="menu-title">英会話トレーニング</h3>
            <p class ="menu-text">
            英語を話せるようにトレーニングをします。
            <br>
            たった3ヶ月で話せるようになります。
            </p>
          </div>
        </div>
<!-------menue end ----------->
<!-------menue start --------->
        <div class ="menu-card">
          <div class ="menu-card-inner">
            <img class ="menu-image" src="b.jpg"alt="道案内">
            <h3 class ="menu-title">道案内</h3>
            <p class ="menu-text">
            英会話実践体験
            <br>
            新宿駅で外国の方を道案内します。
            </p>
          </div>
        </div>
<!-------menue end ----------->
<!-------menue start --------->
        <div class ="menu-card">
          <div class ="menu-card-inner">
            <img class ="menu-image" src="c.jpg"alt="OB講演会">
            <h3 class ="menu-title">OB講演会</h3>
            <p class ="menu-text">
            大学院の合格の仕方や就職の仕方を伝授します。
            <br>
            サークル以外の方でもご参加していただけます。
            </p>
          </div>
        </div>
<!-------menue end ----------->
<!-------menue start --------->
      　<div class ="menu-card">
       　 <div class ="menu-card-inner">
            <img class ="menu-image" src="d.jpg"alt="最新情報">
            <h3 class ="menu-title">出張英語</h3>
            <p class ="menu-text">
            学校の外に出向き外国の人と交流します。
            <br>
            今まで行った場所:京都、高尾山
            </p>
            
          </div>
        </div>  
<!-------menue end ----------->
<!-------menue start --------->
        <div class ="menu-card">
       　 <div class ="menu-card-inner">
            <img class ="menu-image" src="e.jpg"alt="メンバー">
            <h3 class ="menu-title">映画鑑賞</h3>
            <p class ="menu-text">
            映画を英語で鑑賞します。
            <br>
            英語を楽しく学べる環境も充実しています。
            </p>
          </div>
        </div>  
<!-------menue end ----------->
<!-------menue start --------->
        <div class ="menu-card">
       　 <div class ="menu-card-inner">
            <img class ="menu-image" src="f.jpg"alt="活動記録">
            <h3 class ="menu-title">創始者紹介</h3>
            <p class ="menu-text">
            ニックネーム:AKI
            <br>
            <a href="https://www.instagram.com/akakyky/?hl=ja">紹介プロフィール</a>
            </p>
          </div>
        </div>  
<!-------menue start --------->
      </div>
<!-------wrapper end ----------------->
    </div>
<!-------container end  ------------------------->
  </section>

</body>
<!========body end =============================================================>
</html>
    