@charset "utf-8";

* {
    margin:  0;
    padding: 0;
}
body {
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    
}


.header {
  height: 56px;
  width: 100%;
  box-shadow: 0 0 10px #dddddd;
  background-color:  white;
  position: fixed;
  top: 0;
}

.header-left{
    float: left;
}
.header-right{
    float: right;
}
.clear{
    clear:both;
    
}
.header-left a{
    line-height: 56px;
    color: #5a5c5f;
}
.header-right a{
    line-height: 56px;
    color: #5a5c5f;
    margin-left: 5px;
    font-size: 16px;
    padding: 16px 5px;
}
.header-right a:hover{
    background-color: #e2f1ff;
    transition:background-color 0.5s;
}

.container{
    max-width: 980px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
}



.about {
  height: 100vh;
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}

.about-text {
    width: 600px;
    margin: 30px auto;
    line-height: 2.5;
    text-align: left;
}

