<!DOCTYPE html>
<!--------------------------------------------------------------------------------------->
<html>
<head>
  <meta charset="UTF-8">
  <title>
  </title>
<!--■
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
-->
  <link rel="stylesheet" href="style.css">  
  <link rel="stylesheet" href="normalize.css">
</head>
<!------------------body start----------------------------------------------------------->
<body>

<!--------header start---------------------------------------------------------->
  <header class="header">
    <div class="container">
      <div class ="header-left">
       <a href ="https://2e76acaa59a048ab95aff58d99fa3204.vfs.cloud9.us-east-2.amazonaws.com/?_c9_id=livepreview0&_c9_host=https://us-east-2.console.aws.amazon.com">TOYAKU ENGLISH</a>
      </div>
      <div class ="header-right">
        <a href ="https://2e76acaa59a048ab95aff58d99fa3204.vfs.cloud9.us-east-2.amazonaws.com/?_c9_id=livepreview0&_c9_host=https://us-east-2.console.aws.amazon.com">top</a>
        <a href ="https://2e76acaa59a048ab95aff58d99fa3204.vfs.cloud9.us-east-2.amazonaws.com/_static/HTML/about%20us.html">About us</a>
        <a href ="https://2e76acaa59a048ab95aff58d99fa3204.vfs.cloud9.us-east-2.amazonaws.com/_static/HTML/contact.html">Contact</a>
        <a href ="">Member registration</a>
        <a href ="">Administrator login</a>
      </div>
    </div>
    <div class ="clear"></div> 
    
   </header>
   
   
    <section class="about">
    <p class="about-text">Only members of the circle can use it.</p>
    </section>