<div class="contents row" >
  <% @tweets.each do |tweet| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <div class = "write">
        <%= simple_format(tweet.text) %>
      </div>
    </div>
  <% end %>
  <%= paginate(@tweets) %>
</div>